# Keil MDK 编译产物
*.axf
*.hex
*.bin
*.map
*.lst
*.crf
*.o
*.d
*.sct
*.dep
*.uvguix.*

# 编译输出文件夹
Objects/
Listings/
MDK-ARM/
Debug/
Release/
RTE/

# STM32CubeMX 临时文件
.cproject
.project
.settings/
*.ioc.bak

# 系统垃圾文件
Thumbs.db
.DS_Store

# 编辑器缓存
.vscode/
.idea/